@font-face {
    font-family: 'procionoregular';
    src: url('prociono-regular-webfont.woff2') format('woff2'),
         url('prociono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.menu_link{
	display: inline-flex;
	width: 200px;
	height: 100%;
	background-color: rgba(30,144,255,0.25);
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-family: 'procionoregular';
	font-size: large;
}
.menu_link:hover{
	background-color:rgba(30,144,255,1);
}
body{
	margin: 0px;
	padding-top: 0px;
}
#menu{
	position: fixed;
	left: 50%;
	margin-left: -400px;
	display: flex;
	text-align: center;
	justify-content: center;
	height: 50px;
	z-index: 10;
}
.menu_link:nth-child(1){
	border-bottom-left-radius:25px; 
}
.menu_link:nth-child(4){
	border-bottom-right-radius: 25px;
}
.container{
	display: flex;
	height: 654px;
	width: 100%;
}
.divs{
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: relative;
}
.content{
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	position: absolute;
	
}
#second_div_content{
	transform: translate(0px,-1308px);
}
.internal_div{
	width: 100%;
	height: 100%;
}
#about_me_1{
	background-color: red;
}
#about_me_2{
	background-color: yellow;
}
#inrests_1{
	background-color: green;

}
#intrests_1{
	background-color: purple;
}
#work_1{
	background-color: blue;
}
#work_2{
	background-color: pink;
}
