@font-face {
    font-family: 'procionoregular';
    src: url('prociono-regular-webfont.woff2') format('woff2'),
         url('prociono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.menu_link{
	display: inline-flex;
	width: 200px;
	height: 100%;
	background-color: rgba(30,144,255,0.25);
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-family: 'procionoregular';
	font-size: x-large;	
	color: white;
}
.menu_link:hover{
	background-color:rgba(30,144,255,1);
}
body{
	margin: 0px;
	padding-top: 0px;
	color:white;
}
#menu{
	position: fixed;
	left: 50%;
	margin-left: -400px;
	display: flex;
	text-align: center;
	justify-content: center;
	height: 50px;
	z-index: 10;
}
.menu_link:nth-child(1){
	border-bottom-left-radius:25px; 
}
.menu_link:nth-child(4){
	border-bottom-right-radius: 25px;
}
.container{
	display: flex;
	height: 654px;
	width: 100%;
}
.divs{
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: relative;
}
.content{
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	position: absolute;
	
}
#second_div_content{
	transform: translate(0px,-1962px);
}
.internal_div{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
	flex-direction: column;
}
#about_me_1{
	background-color: rgb(234, 47, 62);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
	flex-direction: column;
}
#hi{
	font-size: 100px;
}
#about_me_2{
	background-color: rgb(203, 241, 4);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 45px;
	flex-direction: column;
}
#inrests_1{
	background-color: green;
}
#ps{
	margin-top:45px;	
}
#interests_1{
	background-color: purple;
}
#interests_2{
	background-color:teal; 
	}
#work_1{
	background-color: turquoise;
}
#work_2{
	background-color: pink;
}
#Contact_1{
	background-color: rgb(147, 165, 92);
}
#Contact_2{
	background-color: rgb(154, 103, 246);
}
#facebook{
	height: 75px;
	width:75px;
	margin: 20px;
}
#github{
	height: 75px;
	width:85px;
	margin: 20px;			
}